.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.gemini/
credentials/*.json
!credentials/.gitkeep
outputs/*
!outputs/.gitkeep
*.mp4
*.wav
*.mp3
node_modules/
*.jpg
*.png
!assets/*.png
video_rawTEMP_MPY_wvf_snd.mp4
